.accordion {
    margin: 15px;
}

#Add, #delete {
    margin-top: 32px;
}

#delete {
    margin-left: -50px;
}

.container .row-md-12 {
    margin-bottom: 10px;
}

.card, .card-body {
    height: 307px;
    max-height: 307px;
    margin: 10px;

}

#txtAr_Console {
    margin-bottom: 10px;
    height: 641px;
    width: 966.2px;
    background-color: black;
    color: white;
    margin-top: 10px;
}

#reqname {
    margin-left: 10px;
}

#copybtn {
    margin-top: -10px;
    border: none;
    border-radius: 10px;
    display: none;
}
