.card {
    padding: 20px 20px 20px 20px;
    margin-top: 30px;
}

.accordion {
    margin: 15px;
}

#Add, #delete {
    margin-top: 32px;
}

#delete {
    margin-left: -50px;
}

.container .row-md-12 {
    margin-bottom: 10px;
}

pre {
    margin: 40px;
}

pre .position-absolute {

}