.accordion {
    margin: 15px;
}

#Add, #delete {
    margin-top: 32px;
}

#delete {
    margin-left: -50px;
}

.container .row-md-12 {
    margin-bottom: 10px;
}

.card, .card-body {
    height: 307px;
    max-height: 307px;
}